{#
  Note: the user of this macro needs to close the <div>
  Not using {%spaceless%}, it's buggy, stripping spaces between class names
#}
{% macro startDismissableAlert(alertclass) %}<div class="alert {{alertclass}} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{% endmacro %}

{% macro showSubmitResult(containerSelector) %}
    var containerSelector = "{{containerSelector}}" || '#messages';
    $(document).bind('dbdata', function(event, response) {
      var alertClass =  response.hasErrors() ? 'alert-danger' : 'alert-success';
      var message = response.hasErrors() ? "An error has occurred." : "Saved!";
      $(containerSelector).empty().append(
        '{{startDismissableAlert("alertclass")|addslashes}}'.replace("alertclass", alertClass)
        + message + '</div>'
      )
    });
{% endmacro %}

{% macro displayAlertMessages(scope) %}
    {% if popAlertMessages %}
    {% set alerts = popAlertMessages( ['danger', 'warning', 'success', 'info'], scope) %}
    {% if alerts %}
    <div class="row" id="alerts">
      {% for type in alerts %}
        {% set alertclass='alert-' + loop.key %}
          {% for alert in type %}
            {{startDismissableAlert(alertclass)}}
              <p>{{alert}}</p>
            </div>
          {% endfor %}
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}
{% endmacro %}
