{#
  Note: the user of this macro needs to close the <div>
  Not using {%spaceless%}, it's buggy, stripping spaces between class names
#}
{% macro startDismissableAlert(alertclass) %}<div class="alert {{alertclass}} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{% endmacro %}

{% macro alertScripts(containerSelector) %}
<script>
  function setAlert(alertclass, message, selector, append) {
    var container = $(selector || '#alerts');
    if (!append)
      container.empty();
    container.append('<div class="row">'+
      '{{startDismissableAlert("alertclass")|addslashes}}'.replace("alertclass", alertclass)
      + message + '</div></div>'
    )
  }

  $(document).bind('dbdata', function(event, response) {
      var alertClass =  response.hasErrors() ? 'alert-danger' : 'alert-success';
      var message = response.hasErrors() ? "An error has occurred." : "Saved!";
      setAlert(alertClass, message, "{{containerSelector}}");
  });

  function simpleJsonPost(path, data, msgs) {
    $.post(path, data).always(function(data, textStatus) {
      function getMessage(key) {
        if (typeof msgs[key] === 'function')
          return msgs[key](data);
        else
          return msgs[key];
      }
      if (textStatus != 'success' || data.error) {
        setAlert('alert-danger', getMessage('error') || "Unexpected Error", "{{containerSelector}}");
      } else {
        setAlert('alert-success', getMessage('success') || "Success", "{{containerSelector}}");
      }
    })
    return false;
  }

  $(document).ready(function(){
    $('.send-resend').click(function() { return simpleJsonPost('{{routes.verificationResend}}', null, {
      success: 'Confirmation email Sent',
      error: 'Error sending confirmation email'
    }); })
  });
</script>
{% endmacro %}

{% macro displayAlertMessages(scope) %}
<div id="alerts" class="container">
    {% if popAlertMessages %}
    {% set alerts = popAlertMessages( ['danger', 'warning', 'success', 'info'], scope) %}
    {% if alerts %}
    <div class="row">
      {% for type in alerts %}
        {% set alertclass='alert-' + loop.key %}
          {% for alert in type %}
            {{startDismissableAlert(alertclass)}}
              <p>{% autoescape false %}{{alert}}{% endautoescape %}</p>
            </div>
          {% endfor %}
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}
</div>
{% endmacro %}
