{% import '../partials/macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>Base</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.{% if !debug %}min.{% endif %}css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/app.css" rel="stylesheet">

    <!-- Style from Font-Awesome for icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.{% if !debug %}min.{% endif %}css" rel="stylesheet">

    <script>{{macros.logErrorsToServerJS()}}</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %} {% endblock %}
  </head>

  <body>

    <div class="navbar" role="navigation">
{% block navbar_extra %}{% endblock %}
    </div> <!-- navbar div in header -->

      <div class="container">
{% block alerts %}{{macros.displayAlertMessages()}}{% endblock %}
        <div class="row">
          {% block content %}{% endblock %}
        <div class="row">
      </div>

      <hr>
      <footer>
      </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.{% if !debug %}min.{% endif %}js"></script>
    <script src="/js/bootstrap.{% if !debug %}min.{% endif %}js"></script>
    <script src="/js/bootstrap-hover-dropdown.min.js"></script>
{% block jsfooter %}{% endblock %}
{%clientrender%}
{{macros.alertScripts()}}
{% include "../partials/debug_footer.html" %}
  </body>
</html>
