{% extends 'layouts/layout.html' %}

{% block content %}
<div id="community">
	<div class="container">
		<h2>We have an amazing community</h2>
		<p>Photo booth Banksy Cosby sweater single-origin coffee next level before they sold out. Keffiyeh 90's Banksy, church-key bespoke cornhole photo booth shabby chic Tumblr tote bag. Letterpress American Apparel keffiyeh, four loko PBR Tumblr fanny pack locavore twee cred fap.</p><p> Vegan you probably haven't heard of them lomo fixie. Ethnic Thundercats Pitchfork artisan 8-bit. Austin seitan biodiesel whatever, actually leggings bitters Portland fingerstache you probably haven't heard of them YOLO. Flexitarian farm-to-table kitsch, literally tattooed hashtag mixtape Vice pickled drinking vinegar DIY viral meggings.
		</p>
	</div>
	<div class="container">

	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
			</div>
			<div class="col-md-3 ">
				<div class="list-group">
					<h4>Interactions</h4>
					<p>Some of the things you can do to engage. This sidebar should affix as you scroll.</p>
		      		<a href="#" class="list-group-item">Project Discussion Pages</a>
		      		<a href="#" class="list-group-item">Share a project (twitter fb etc)</a>
		      		<a href="#" class="list-group-item">Forums</a>
				</div>
				<div class="list-group">
					<h4>One Commons Social</h4>
					<p>OneCommons PR</p>
		      		<a href="#" class="list-group-item">Blog</a>
		      		<a href="#" class="list-group-item">Facebook</a>
		      		<a href="#" class="list-group-item">Twitter</a>
		      		<a href="#" class="list-group-item">In the News</a>
		      		<a href="#" class="list-group-item">Support</a>
				</div>				
			</div>
		</div>
	</div>
</div>	
{% endblock %}