{% extends 'layouts/layout-admin.html' %}

{% block head %}
<link href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<link href="//cdn.datatables.net/fixedheader/3.1.0/css/fixedHeader.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/colvis/1.1.1/css/dataTables.colVis.css" rel="stylesheet">
<link href="//cdn.datatables.net/responsive/2.0.0/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block admincontent %}
<style>
colgroup, tbody { border: solid thin; }
td { max-width: 10em; white-space: nowrap; text-overflow: ellipsis;  overflow: hidden;}

td.details-control {
    cursor: pointer;
}
td.details-control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  display: block;
  color: white;
  border: 2px solid white;
  border-radius: 16px;
  text-align: center;
  line-height: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  content: '+';
  background-color: #31b131;
}
tr.shown td.details-control:before {
  content: '-';
  background-color: #d33333;
}

button.ColVis_Button {
  width: 20em;
}

ul.ColVis_collection {
  width: 20em;
}

</style>
<table id="crud" class="table table-striped table-bordered display compact" cellspacing="0" width="100%">
  <thead>
    {%for row in headers %}
    <tr>
      {%for cell in row %}
      <th data-path={{cell.path}} {%if cell.rowspan > 1 %}rowspan="{{cell.rowspan}}"{%endif%} {%if cell.colspan > 1 %}colspan="{{cell.colspan}}"{%endif%}>{{cell.name}}</th>
        {% endfor %}
      </tr>
    {% endfor %}
  </thead>

  {% for cell in colgroups %}
    <colgroup span={{cell.colspan}}>
  {% endfor %}

    <tbody>
    {%for obj in objs %}
      <tr id="{{obj._id}}">
      {%for cell in footer %}
        <td data-toggle="tooltip" data-container="body">{{formatdata(obj.get(cell.path), obj)}}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
{#
    <tfoot>
      <tr>
        {%for cell in footer %}
        <th>{{cell.name}}</th>
        {% endfor %}
      </tr>
    </tfoot>
#}
</table>
<form action='.'>
  Query: <input name=query value='{{query.query}}' size=40></input>
  <input type=submit></input>
</form>
{% endblock %}

{% block jsfooter %}
<!-- DataTable -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="//cdn.datatables.net/fixedheader/3.1.0/js/dataTables.fixedHeader.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.0.0/js/dataTables.responsive.min.js"></script>
<script src="//cdn.datatables.net/colvis/1.1.1/js/dataTables.colVis.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/js/data.js"></script>
<script>
  $(document).ready(function () {
    var tableSelector = '#crud';
    var hiddenColumns = {{hiddenColumns|json}};
    var table = $(tableSelector).DataTable({
      responsive: false, // broken when using column visibility control
      dom: 'BC<"clear">lfrtip',
      buttons: [ 'copy', 'csv',
      {
                  text: 'Create {{modelName}}',
                  action: function ( e, dt, node, config ) {
                      window.open('/admin/create/{{modelName}}', '_blank');
                  }
              }
      ],
      pageLength: {{pageLength}},
      colVis: {
        label: function (index, title, th ) {
          return $(th).data('path');
        },
        stateChange: function ( iColumn, bVisible ) {
          var changed = false;
          var index = hiddenColumns.indexOf(iColumn);
          if (index > -1) {
            if (bVisible) {
              // delete
              hiddenColumns.splice(index, 1);
              changed = true;
            }
          } else if (!bVisible) {
            // add
            hiddenColumns.push(iColumn);
            changed = true;
          }
          if (changed) {
            $(document).dbExecute('/adminMethods#updateCrudSettings', {model:'{{modelName}}',
              setting: 'hiddenColumns',
              value:   hiddenColumns
            }, function() {
              return false;
            });
          }
        }
      },
      columnDefs: [
        {
            "targets": hiddenColumns,
            "visible": false
        },
        {
          "targets": 0,
          //"className":      'details-control',
        },
      ],
          //"order": [[ 1, "desc" ]]
    });
    new $.fn.dataTable.FixedHeader( table );

    function enableTooltips() {
      $('[data-toggle="tooltip"]').tooltip({
        placement: 'auto right',
        delay: 500,
        title: function() {
          return $(this).text();
        }
      });
    }
    enableTooltips();
    // datatable doesn't render all the pages upfront so we need to add the tooltips as they are rendered
    $(tableSelector).on( 'draw.dt', function () {
      enableTooltips();
    });
    $(tableSelector).on( 'length.dt', function ( e, settings, len ) {
      $(document).dbExecute('/adminMethods#updateCrudSettings', {
        model:'{{modelName}}',
        setting: 'pageLength',
        value: len
      }, function() {
        return false;
      });
    });
  });
  $(document).bind("ajaxSend", function(evt, jqXhr, ajaxSettings){
      jqXhr.setRequestHeader('x-csrf-token', '{{_csrf}}');
   });
</script>

{% endblock %}
