{% extends 'layouts/layout-admin.html' %}

{% block head %}

{% include 'partials/crudmacros.html' %}

<link rel="stylesheet" type="text/css" href="/selectize/css/selectize.css" />
<link rel="stylesheet" type="text/css" href="/selectize/css/selectize.bootstrap3.css" />
<style>
fieldset.withborder {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.withborder {
     font-size: 1.2em !important;
     font-weight: bold !important;
     text-align: left !important;
     width:auto;
     padding:0 10px;
     border-bottom:none;
 }

.removed {
  background-color: lightgray;
  color: white;
}
.undoremovebutton {
  display: none;
}
.removed .undoremovebutton {
  display: inline;
}
.removed .removebutton {
  display: none;
}
.crudtitle {
  font-weight: bold;
}
.restoreobj {
  display: none;
}
</style>
{% endblock %}

{% block admincontent %}
<!-- Modal -->
<div class="modal fade" tabindex="-1" id="upload-file" role="dialog" aria-labelledby="upload-file-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="upload-file-title">Upload File</h4>
      </div>
      <div class="modal-body">

        <form id="upload-file-form" role= "form">

        <div class='imagechooser'>
          <input class="form-control" type="file" name="upload" data-dbmethod='createfile' />
          <canvas style="width:100%" height="10px"></canvas>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-two">Upload</button>
      </div>

      </form>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div>
{%if deleteId %}
<span class='crudtitle'>Restore Deleted {{model}}</span>
{%elseif creating %}
<span class='crudtitle'>Create New {{model}}</span>
{%else%}
<span>Editing {{model}}</span>&nbsp;<a class='btn btn-default' href='/admin/create/{{model}}' target='_blank'>Create New {{model}}</a>
&nbsp;<a class='btn btn-default' href='/admin/edit/{{obj._id}}?cloning=1' target='_blank'>Clone this {{model}}</a>
{%if !noDelete %}
&nbsp;<a data-objid='{{obj._id}}' class='btn btn-default deleteobj' href='#' target='_blank'>Delete</a>
{%endif%}
&nbsp;<a data-objid='{{obj._id}}' class='btn btn-default restoreobj' href='#' target='_blank'>Undo Deletion</a>
{%endif%}
</div>

<div class="crud">
{{df.form(obj, {class:"form-horizontal", role:"form"})}}
  {{renderfields(paths, '')}}

<button type="submit" class="btn btn-default btn-two mt-20">Submit</button>
{{df.form_end()}}
</div>
{% endblock %}

{% block jsfooter %}
<script type="text/javascript" src="/js/data.js"></script>
<script type="text/javascript" src="/selectize/js/standalone/selectize.js"></script>
<script>
// polyfill datetime-local
// webshim loads a bunch of stuff even on browsers that support datetime-local
// so do our own feature detection and dynamically load it

function polyfill() {
  //https://github.com/aFarkas/webshim v1.15.10
  //http://caniuse.com/#feat=input-datetime
  // load and implement all unsupported features
  webshim.setOptions("forms-ext", {
    replaceUI: "auto",
    types: "datetime-local date time month",
  });
  webshims.polyfill('forms-ext');
}

var test = document.createElement('input');
test.type = 'datetime-local';
test.value = 'Hello World';
if (test.value === 'Hello World') {
  // input type not supported
  var oScript = document.createElement("script");
  oScript.type = "text/javascript";
  oScript.onload = polyfill;
  document.head.appendChild(oScript);
  oScript.src = "/js-webshim/minified/polyfiller.js";
}
</script>
<script type="text/javascript">

function onNewContent() {
  $('.dbform select.allow-create').attr('data-always', 'always').selectize({
    plugins: ['remove_button'],
    create: function(input) {
        return {
            value: input,
            text: input
        }
    },
  });

  $('.dbform select.enumerate-only').attr('data-always', 'always').selectize({
    plugins: ['remove_button'],
    create: false,
  });

  $('.dbform select.object').attr('data-always', 'always').selectize({
  // only one choice
    sortField: 'text',
    create: false,
    preload: 'focus',
    load: function(query, callback) {
      var $input = this.$input;
      $input.dbExecute('/adminMethods#modelAutocomplete', {model: $input.data('model')}, function(response) {
        callback(response);
        return false;
      });
    }
  });

  $('.dbform select.custom').attr('data-always', 'always').selectize({
  // only one choice
    create: false,
    preload: 'focus',
    load: function(query, callback) {
      var $input = this.$input;
      var This = this;
      $input.dbExecute('/adminMethods#customAutocomplete',
          {model: $input.data('model'), autocomplete: $input.data('autocomplete')}, function(response) {
        callback(response);
        return false;
      });
    }
  });
}

$(document).ready(function () {
  $(document).on('submit', '.dbform', function() {
    try {
      var data = $(this).dbData(false, {{!cloning}}).get(0);
    } catch (err) {
      setAlert('alert-danger', "Error saving object: bad input");
      console.log("Error saving object: bad input", err);
      return false;
    }
    var keys = [];
    for (var key in data) {
      if (data.hasOwnProperty(key)) {
        keys.push(key);
      }
    }
    $.each(keys, function(index, key) {
       var val = data[key];
       if ($.isArray(val)) {
        data[key] = Binder.Util.filter(val, function(item) {
          if (!item) return false;
          // exclude items with __action property
          var keep = item.__action != 'remove';
          delete item.__action;
          return keep;
        });
      }
    });
    $(this).dbBegin()
    $(this).{%if creating %}dbCreate{%else%}dbUpdate{%endif%}(data, function (result, err) {
        if (result && result._id && !err) {
          window.location = '/admin/edit/' + result._id  + '?msg={%if deleteId %}Restored{%elseif creating %}Created{%else%}Saved{%endif%}!';
        }
    });
    {%if deleteId %}
    $(this).dbDestroy({_id:"{{deleteId}}"});
    {% endif %}
    $(this).dbCommit();
    return false;
  });

  $('.crud').on('click', '.addbutton', function(){
    var container = $(this).parents('.form-group').find('.appended:last');
    var path = container.data('crudpath');
    var count = container.data('crudarraylength');
    container.load( "/admin/addToArray/{{model}}/"+path+'/'+count{%if creating%}+'?creating=1'{%endif%},
    function( response, status, xhr ) {
      if ( status == "error" ) {
        return;
      }

      onNewContent();

      //scroll to the new content
      $('body').animate({
          scrollTop: $(this).offset().top
      }, 500);
    });
    return false;
  });

  //remove button: add 'remove' class and hidden field
  $('.crud').on('click', '.removebutton', function() {
    $(this).parents('.item:first').addClass('removed');
    var name = $(this).data('crudpath') + '.__action';
    var hidden = $('<input class="removedmarkerfield" type="hidden" value="remove">').attr('name', name);
    $(this).after(hidden);
    return false;
 });

 //undoremove button:   remove 'remove' class and hidden field
 $('.crud').on('click', '.undoremovebutton', function() {
   $(this).siblings('.removedmarkerfield').remove();
   $(this).parents('.item:first').removeClass('removed');
   return false;
 });

  $(document).on('submit', '#upload-file-form', function() {
      var ref = $(this).data('ref');
      $(this).dbExecute('/adminMethods#', function(resp, err) {
        if (!err) {
          $('#upload-file').modal('hide');
          $(ref).val(resp._id);
        }
      });
      return false;
  });
  $(document).on('change', '.imagechooser', function(e) {
      handleImage(e, $(this).find('canvas').get(0))
  });

  $('#upload-file').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.prev('input').get(0).name;
    $(this).find('form').data('ref', 'input[name=\'' + recipient + '\']')
  });

  onNewContent();

  $(document).on('click', '.deleteobj', function() {
    $(this).dbExecute('/adminMethods#deleteObject', {_id: $(this).data('objid')}, function (result, err) {
      if (result && result._id && !err) {
        $(this).hide();
        $('.restoreobj').show();
      }
    });
    return false;
  });

  $(document).on('click', '.restoreobj', function() {
    $(this).dbExecute('/adminMethods#restoreObject', {_id: $(this).data('objid')}, function (result, err) {
      if (result && result._id && !err) {
        $(this).hide();
        $('.deleteobj').show();
      }
    });
    return false;
  });

 var msg = '{{query.msg}}';
 if (msg) {
   setAlert('alert-success', msg);
 }
});
$(document).bind("ajaxSend", function(evt, jqXhr, ajaxSettings){
    jqXhr.setRequestHeader('x-csrf-token', '{{_csrf}}');
 });
 function handleImage(e, canvas) {
    var reader = new FileReader();
    var ctx = canvas.getContext('2d');
    reader.onload = function(event){
        var img = new Image();
        img.onload = function(){
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img,0,0);
        }
        img.src = event.target.result;
    }
    var file = e.target.files[0];
    var size = file.size; //XXX error if it's too big
    reader.readAsDataURL(file);
}
</script>
{% endblock %}
