{% extends 'layouts/layout-admin.html' %}

{% macro renderfields(schemapaths, prefix) %}

{% for schemafield in schemapaths %}
  {% set path = prefix + loop.key %}
  {% if loop.key == '_id' %}
  <input type=hidden name='{{ path }}' value='{{ df.getVal(path) }}' />
  {% elseif includeField(schemafield, path) %}
  <div class='row'>
  <div class="form-group{% if required == "required" %} required{% endif %}">
  	<label class="col-sm-3 control-label" for="{{ path }}">
      {% if isDbId(df.getVal(path)) %}
        <a href='/admin/edit/{{df.getVal(path)}}' target=_blank>{{ loop.key }}</a>
      {% else %}{{ loop.key }}{% endif %}
  </label>
  	<div class="col-sm-6">
    {% if readonlyField(schemafield, path) %}
       {{formatdata(df.getVal(path), obj)}}
    {% elseif schemafield.schema %}
       {% for val in df.getVal(path) %}
          <div class="well well-lg">
          {{ renderfields(getPaths(schemafield.schema), path+'[' + loop.index0 + '].') }}
          </div>
       {% endfor %}
    {% elseif schemafield.options.enum %}
       {{ df.select(path, schemafield.options.enum, {setBindType:true, forceValue:true}) }}
    {% elseif schemafield.caster %}
       {{ df.select(path, schemafield.caster.enumValues, {setBindType:true, forceValue:true}) }}
    {% else %}
       {{ df.input(path, { class:'form-control', type: getInputType(schemafield),  guessInputType: true}) }}
    {% endif %}
    </div>
  </div>
  </div>
  {% endif %}
{% endfor %}

{% endmacro %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/selectize/css/selectize.css" />
<link rel="stylesheet" type="text/css" href="/selectize/css/selectize.bootstrap3.css" />
{% endblock %}

{% block admincontent %}
<div class="">
{{df.form(obj, {class:"form-horizontal", role:"form"})}}
  {{renderfields(paths, '')}}

<button type="submit" id="submit-account-data" name="submit-account-data" class="btn btn-default btn-two mt-20">Submit</button>
{{df.form_end()}}
</div>
{% endblock %}

{% block jsfooter %}
<script type="text/javascript" src="/js/data.js"></script>
<script type="text/javascript" src="/selectize/js/standalone/selectize.js"></script>
<script>
// polyfill datetime-local
// webshim loads a bunch of stuff even on browsers that support datetime-local
// so do our own feature detection and dynamically load it

function polyfill() {
  //https://github.com/aFarkas/webshim v1.15.10
  //http://caniuse.com/#feat=input-datetime
  // load and implement all unsupported features
  webshim.setOptions("forms-ext", {
    replaceUI: "auto",
    types: "datetime-local",
  });
  webshims.polyfill('forms-ext');
}

var test = document.createElement('input');
test.type = 'datetime-local';
test.value = 'Hello World';
if (test.value === 'Hello World') {
  // input type not supported
  var oScript = document.createElement("script");
  oScript.type = "text/javascript";
  oScript.onload = polyfill;
  document.head.appendChild(oScript);
  oScript.src = "/js-webshim/minified/polyfiller.js";
}
</script>
<script type="text/javascript">
$(document).ready(function () {
  {{df.formhandler()}}

  $('.dbform select').selectize({
  plugins: ['remove_button'],
  create: false,
 });

});
$(document).bind("ajaxSend", function(evt, jqXhr, ajaxSettings){
    jqXhr.setRequestHeader('x-csrf-token', '{{_csrf}}');
 });
</script>
{% endblock %}
