{% extends 'layouts/layout-admin.html' %}

{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Uploaded On</th>
        <th>Owner</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
      <tr>
        <td><a href='{{routes.file(file)}}'>{{ file.name }}</a></td>
        <td>{{ file.mimetype }}</td>
        <td>{{ file.size }}</td>
        <td>{{ file.creationDate|date('Y-m-d H:i') }}</td>
        <td>{{ file.owner }}</td>
        <td>{% for tag in file.tags %}<span class="btn btn-primary btn-sm">{{tag}}</span>{%endfor%}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
