{% extends 'layouts/layout-profile.html' %}

{% block profilecontent %}


<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

<div class="row">

    <!-- LOCAL INFORMATION -->
    {% if user.local.email %}
    <div class="col-sm-8">
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>
                <p>
                    <strong>id</strong>: {{user._id}}<br>
                    <strong>email</strong>: {{user.local.email}}<br>
                    <strong>password</strong>: {{user.local.password}}
                </p>
        </div>
    </div>
    {% endif %}


    <!-- FACEBOOK INFORMATION -->
    {% if user.facebook.id %}
    <div class="col-sm-8">
        <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                <p>
                    <strong>id</strong>: {{user.facebook.id}}<br>
                    <strong>token</strong>: {{user.facebook.token}}<br>
                    <strong>email</strong>: {{user.facebook.email}}<br>
                    <strong>name</strong>: {{user.facebook.name}}
                </p>
        </div>
    </div>
    {% endif %}

</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="change-password">Change password</a>
  </div>
</div>

{% endblock %}
