{% extends 'layouts/layout.html' %}

{% block content %}
<div id="project-page">

	<div class="container">
		<h2>Welcome!</h2>
		<p>This is the page a user sees when they first log into their account.
		</p>
	</div>
	<div class="container">

	</div>
	<div class="container">
		<div class="row">
		
			<div class="col-md-9">
			    <div class="well">
				    <div class="row">
				  	    <div class="col-md-3">
						    <h3>
							    <i class="fa fa-magic fa-3x"></i>  Tips
						    </h3>
						</div>
						<div class="col-md-9">
						    <p>
						    <strong>Did you know you can do... </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<strong>... on One Commons?</strong>
						    </p>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col-md-3">
				<div class="list-group">
					<div class="well">
						<p>
						<button type="button" class="btn btn-primary btn-lg btn-block">Endorse Projects</button>
						</p>
						<p>
						<button type="button" class="btn btn-default btn-lg btn-block">Search Projects</button>
						</p>
			      		</div>	      		
				</div>
				<div class="list-group">
					<div class="well">
					    <h5>Your Projects:</h5>
					    <!-- Project x -->
						<div class="row">
							<div class="col-md-6">
								<div class="media">
									<img src="http://b.vimeocdn.com/ps/359/823/3598236_300.jpg" width="100px">
								</div>
							</div>
							<div class="col-md-6">
								<p>
									<strong>Project Name</strong>
								</p>
								<p>
									<small>Endorsed</small>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<br>
								<p>
									<small>Comment. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</small> <a href="#">See more »</a>
								</p>
							</div>
						</div>
						<!-- End Project x -->
						
						<!-- Project x -->
						<div class="row">
							<div class="col-md-6">
								<div class="media">
									<img src="https://cdn1.iconfinder.com/data/icons/squarenav/480/article_square_black-512.png" width="100px">
								</div>
							</div>
							<div class="col-md-6">
								<p>
									<strong>Project Name</strong>
								</p>
								<p>
									<small>Saved</small>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<br>
								<p>
									<small>Comment. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</small> <a href="#">See more »</a>
								</p>
							</div>
						</div>
						<!-- End Project x -->
			      	</div>
			      	
			      	<div class="list-group">
					<div class="well">
					    <h5>Learn About One Commons:</h5>
							<p>
								<a href="#">Who we are »</a>
							</p>
							<p>
								<a href="how-it-works">How it works »</a>
							</p>
							<p>
								<a href="#">Terms and conditions »</a>
							</p>
			      	</div>
			      	
			      				      	<div class="list-group">
					<div class="well">
					    <h5>Contact Support:</h5>
							<p>
								<i class="fa fa-envelope fa-lg"></i> mail@mail.com
							</p>
							<p>
								<i class="fa fa-phone fa-lg"></i>  555-5555
							</p>
							<p>
								<i class="fa fa-skype fa-lg"></i>  one-commons
							</p>
			      	</div>
			      	
				</div>
			</div>
		</div>
	</div>
</div>	
{% endblock %}
